Alloy
  Window#win(title='タイムライン')
    ListView#timeline(
      defaultItemTemplate='default'
    )
      Templates
        ItemTemplate#default_temp(name='default')
          View.row_box
            ImageView(bindId='image')
            Label(bindId='test')
      ListSection#main_section
    View#cook_button
      Label +
