Alloy
  TableViewRow
    View.row_box
      View.header
        View.user
          ImageView.icon(bindId='icon')
          Label.name(bindId='name')
          Label.time 1h
        View.star
      View.image_box
        ImageView.rice_image(bindId='image')
